*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: grid;
    grid-template-columns:40% 20% 40%;
    grid-template-rows: 400px 400px 400px;
}
.s1{
    background-image: url(./pic01.jpg);
   

}
.s1>article{
     background-color: #7ac0d9cf;
     height: 100%;
}
.s2{
    grid-column: span 2;
    background-image: url(./pic02.jpg);
    
}
.s2>article{
     background-color:#9086c3db;
     height: 100%;
}
.s3{
    grid-column: span 2;
    background-image:url(./pic03.jpg);
}
.s3>article{
     background-color:#e5928ac5;
     height: 100%;
}
.s4{
    background-image: url(./pic04.jpg);
    
}
.s4>article{
     background-color:#d9af87ce;
     height: 100%;
}
.s5{
    background-image: url(./pic05.jpg);
    
}
.s5>article{
     background-color:#849ad3c7;
     height: 100%;
}
.s6{
    grid-column: span 2;
    background-image: url(./pic06.jpg);
}
.s6>article{
     background-color:#7db298d2;
     height: 100%;
}