/* body{
    background-color:red ;
}
@media (max-width:500px){
    body{
        background-color: green;
    }
}
@media (min-width:501px) and (max-width:1000px){
    body{
        background-color: aqua;
    }
} */
 /* div{
    display: flex;
    gap: 20px;
    background-color: red;
 }
 @media(min-width:601px) and (max-width:1000px){
    div{
        justify-content: center;
        background-color: aqua;
    }
    div>h1{
        color: brown;
    }
 }
 @media(max-width:600px){
    div{
        justify-content: end;
        background-color: blue;
    }
 } */
h1{
    font-size: 1rem;
}

html{
    font-size: 30px;
}
p{
    font-size: 2rem;
}
@media(max-width:500px){
    html{
        font-size:15px;
    }
}